.body{
    background-color: #628ECB;
}
.divum{
    

    background-color: black;
    height: 90px;
    width: 1580px;
     
    color: aliceblue;
    font-size: 40px;
    border-radius: 90px;
    margin-top: 3%;
 

}